// md20 NPC Styles
.stats {
  // ul {
  //   margin: 0;
  //   list-style-position: inside;
  //   list-style-type: none;
  //   li {
  //     padding-left: 15px;
  //     text-indent: -10px;
  //     border-left: 2px solid #ccc;
  //   }
  // }
  section {
    &>* {
      padding: 0 1.5em;
      &:first-child {
        padding-top: 0.5em;
      }
      &:last-child {
        padding-bottom: 0.5em;
      }
    }
  }
}

// NOT A NUMBER
// I put results that may return NaN into an element's class
// to hack around Handlebars _sometimes_ resolving NaN as true, because it's stupid.
// This affects creatures without values for abilities (undead's CON score)
// and a bunch of spells/spell-like abilities that don't have DCs.
.NaN {
  .spell-like-abilities & {
    display: none;
  }
  .ability-score & {
    display: none;
  }
}

.ability-score-NaN {
  &::after {
    content: "—"
  }
}

.block {
  display: block;
  margin: auto auto 1em;
  background: $color-gray-05;
  border-bottom: 2px solid $color-gray-10;
  border-radius: 2px;
  h4 {
    margin: 1em 0 0;
    padding: 0 1em;
    line-height: 2.1;
    color: $color-white;
    background: $color-blue-curious;
    border-bottom: 2px solid darken($color-blue-curious, 10%);
    border-radius: 2px;
    display: block;
    text-transform: capitalize;
  }
  h5 {
    background: $color-gray-10;
    border-bottom: 2px $color-gray-20 solid;
    border-radius: 2px;
    padding: 0 1em;
    display: block;
    cursor: pointer;
  }
  br {
    display: none;
  }
  .friendly {
    background: $color-green-friendly;
    border-bottom: 2px solid darken($color-green-friendly, 10%);
  }
  .hostile {
    background: $color-red-hostile;
    border-bottom: 2px solid darken($color-red-hostile, 10%);
  }
}

.search {
  color: $color-white;
  float: right;
  &:hover, &:active, &:focus {
    color: $color-gray-20;
  }
}

.cr {
  float: right;
}

.alignment {
  text-transform: uppercase;
}

.size, .type {
  text-transform: capitalize;
}

.senses, .attacks, .feats-list, .skills-list, .languages-list, .defensive-abilities-list, .ability-scores-list, .special-attacks-list {
  display: inline;
  margin: 0;
  .sense {
    display: inline;
    &:last-child {
      display: none;
    }
    &:nth-child(n):nth-last-child(n+3):after {
      content: ","
    }
  }
  .defensive-ability, .special-attack, .feat, .skill, .language {
    display: inline;
    &:nth-child(n):nth-last-child(n+2):after {
      content: ","
    }
  }
  .attack, .ability-score {
    display: inline
  }

  .feat, .skill, .language {
    display: inline-block;
    text-transform: capitalize;
  }
}

.special-abilities {
  .special-ability {
    .name {
      text-transform: capitalize;
    }
  }
}