.toc {

&-modal {
  background-color: $color-blue-curious;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid darken($color-blue-curious, 10%);
  border-left: 0;
}

&-button {
  border-radius: 100%;

  &.hollow {
    border-color: $color-white;
    color: $color-white;
  }
}
  a {
    display: block;
    line-height: 2;
    color: $color-white;
    text-decoration: none;
    &:visited {
      color: $color-gray-05;
    }
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  &.menu.vertical li li {
    display: inline-block;
    padding: 0 .5em;
    margin: 0 .12em .25em;
    background: lighten($color-blue-curious, 15%);
    border-bottom: 2px solid lighten($color-blue-curious, 10%);
    border-radius: 2px;
  }
}