{{#MarkdownIt}}

Level One: Classic
---

Level 1 is formed mostly out of large blocks of tan stone. Except for Rooms 2 and 3, the area is dry and cool. Sconces with flaming torches provide excellent lighting throughout the entire Level, excepting Rooms 9 and 10. All rooms are separated with simple, unlocked wooden doors unless otherwise noted, and all doors open away from Room 1.

### Room 1: Entrance

> Seven majestic red drapes with gold fringes line the north wall, covering the tan stone masonry. Thick wooden doors lie to the east and west.

The entrance to Jacob’s Tower is empty of any hazards or traps, but it is not bare.  If the PCs are feeling extra cheeky, these drapes can be taken and sold for 15 gold each. 

| Amt. | Treasure | Value | Weight |
| ---: | --- | --- | --- |
| 7 | Red Drapes | 15gp | 5 lbs. |

The wall to the north appears to be made of the same large tan blocks as the rest of the room, but a **Perception check (DC 15)** will reveal a hidden door behind a drape. The door opens upward, but cannot be opened short of a DC 30 Strength check. If the PCs have discovered the door, they will also note two thin magical cords running along the wall to the east and west. Once the levers in Rooms 5 and 9 are pulled, the respective magical cords will glow. Once both levers are pulled, the hidden door will rise, revealing room 10.

### Room 2: Lair of the Fuzzy Animals

Room 2 stinks to high Elysium, and, once the door is open, all those within 15 feet must make a DC 11 Fortitude save or be sickened for one round. The first time players outside that radius move within 15 feet of the the room, they must make that same check.  The room, which reeks with soupy rot, contains  a small pool of putrid water (2b) and a great deal of animal feces, handfuls of tiny bones, dirty and rotting bundles of hay which act as difficult terrain (2c). The animals inside, with blotchy fur and muddy faces, look like they are being starved and will immediately attack the adventurers.

In the room are one skunk (1d), one pig (1e), and one dog (1f) which will immediately attack the adventurers. There are also dozens of smaller animals such as hedgehogs, mice and rabbits, but these will not attack, instead fleeing into the hay when the PCs arrive. Once the skunk, pig, and dog are killed, the smaller animals will come to feast on their corpses.

These animals are not totally feral, and it is possible to woo them to the characters' side. A DC 10 Handle Animal check as a standard action on any animal will stun him for a round. A DC 15 Handle Animal check on any animal will cause him to slink away and abandon the fight. A DC 20 Handle Animal check on any animal will cause him to join the characters for the remainder of the Level.

With a Perception 10 check, our heroes can notice that the pool of water (2b) actually goes below the wall to the south. One brave soul can take a dip in this putrid water and wriggle his way into room 3. If the hero fails a DC 10 Swim check while in the water, he must make a DC 13 Fortitude save or contract [Cholera](http://www.d20pfsrd.com/gamemastering/afflictions/diseases/cholera) from the filth.

{{/MarkdownIt}}

{{> monsters/skunk}}