<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Codex Campagna | {{title}}</title>
  <link rel="stylesheet" href="{{root}}assets/css/app.css"> </head>

<body>

  {{> header}}
  {{> toc}}
  {{> body}}
  {{> global-controls}}

  <script src="{{root}}assets/js/app.js"></script>
  <script src="https://use.fontawesome.com/36f2767a01.js"></script>
</body>

</html>
