{{!-- This is the base layout for your project, and will be used on every page. --}}
<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pathkeeper | {{title}}</title>
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>
  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
  
  {{> header}}

  <div id="main" class="row">
    <div class="large-9 columns content">
      {{> body}}
    </div>
    <div class="large-3 columns aside" data-sticky-container>
    <div class="sidebar sticky" data-sticky data-top-anchor="main">
      <button type="button" data-open="toc-modal">Table of Contents</button>
    </div>
  </div>
  </div>

 
  {{> toc}}

  <script src="{{root}}assets/js/app.js"></script>
</body>

</html>
