<div class="column">
  <div class="block">
    <div class="stats accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

      <h4 class="{{#if attitude}}{{attitude}}{{else}}hostile{{/if}}">{{name}} <a href="http://www.d20pfsrd.com/?s={{name}}" target="_blank" class="search"><i class="fa fa-search" aria-hidden="true"></i></a></h4>

      <section class="general accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title"><h5>General</h5></a>
        <div class="accordion-content" data-tab-content>
          <div>
            <strong class="cr">CR {{cr}}</strong>
            <br>
            <strong>XP {{xp}}</strong>
          </div>
          <div><span class="alignment">{{alignment}}</span> <span class="size">{{size}}</span> <span class="type">{{type}}{{#if subtype}} ({{subtype}}){{/if}}</span>
          </div>
          <div><strong>Init</strong> {{initiative}};
            <br>
            <strong>Senses</strong>
            <ul class="senses">
              {{#each senses}}
              <li class="sense">{{this}}</li>
              {{/each}}
            </ul>
            <br>
            <strong>Perception</strong> {{#skills.perception}} {{bonus}} {{#each circumstantial}} {{bonus}} ({{circumstance}}) {{#if type}} [{{type}}] {{/if}} {{/each}} {{/skills.perception}}
          </div>
        </div>
      </section>

      <section class="defense accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title"><h5>Defense</h5></a>
        <div class="accordion-content" data-tab-content>
          <div class="ac"><strong>AC</strong> {{#ac}} {{normal}}, {{touch}} touch, {{flat-footed}} flat-footed {{/ac}}
          </div>
          <div class="hp"><strong>hp</strong> {{hp}} ({{hd}})</div>
          <div class="saves">
            {{#saves}} {{#fortitude}}
            <strong>Fort</strong> {{bonus}} {{#each circumstantial}} {{bonus}} ({{circumstance}}) {{#if type}} [{{type}}] {{/if}} {{/each}} {{/fortitude}} {{#reflex}}
            <strong>Ref</strong> {{bonus}} {{#each circumstantial}} {{bonus}} ({{circumstance}}) {{#if type}} [{{type}}] {{/if}} {{/each}} {{/reflex}} {{#will}}
            <strong>Will</strong> {{bonus}} {{#each circumstantial}} {{bonus}} ({{circumstance}}) {{#if type}} [{{type}}] {{/if}} {{/each}} {{/will}} {{/saves}}
          </div>
          {{#if defensiveabilities}}
          <div class="defensive-abilities">
            <strong>Defensive Abilities</strong>
            <ul class="defensive-abilities-list">
              {{#each defensiveabilities}}
              <li class="defensive-ability">{{this}}</li>
              {{/each}}
            </ul>
          </div>
          {{/if}} {{#if immunities}}
          <div class="immunities">
            <strong>Immunities</strong>
            <ul class="immunities-list">
              {{#each immunities}}
              <li class="immunity">{{this}}</li>
              {{/each}}
            </ul>
          </div>
          {{/if}}
        </div>
      </section>

      <section class="offense accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title"><h5>Offense</h5></a>
        <div class="accordion-content" data-tab-content>
          <div class="speed"><strong>Speed</strong> {{#each speed}}{{this}} {{/each}}
          </div>

          {{#if melee}}
          <div class="melee"><strong>Melee</strong>
            <ul class="attacks">
              {{#each melee}}
              <li class="attack">
                {{amount}} {{weapon}} +{{bonus}} ({{damage}}; {{critmin}}/x{{critmult}}{{#if special}} plus {{special}}{{/if}})
              </li>
              {{/each}}
            </ul>
          </div>
          {{/if}} {{#if ranged}}
          <div class="ranged"><strong>Ranged</strong>
            <ul class="attacks">
              {{#each ranged}}
              <li class="attack">
                {{amount}} {{weapon}} +{{bonus}} ({{damage}}; {{critmin}}/x{{critmult}}{{#if special}} plus {{special}}{{/if}})
              </li>
              {{/each}}
            </ul>
          </div>
          {{/if}}

          <div class="space-and-reach">
            <strong>Space</strong> {{space}};
            <strong>Reach</strong> {{reach}}
          </div>

          {{#if specialattacks}}
          <div class="special-attacks"><strong>Special Attacks</strong>
            <ul class="special-attacks-list">
              {{#each specialattacks}}
              <li class="special-attack">{{this}}</li>
              {{/each}}
            </ul>
          </div>
          {{/if}} {{#if sla}}
          <div class="spell-like-abilities"><strong>Spell-Like Abilities</strong> (CL {{sla.casterlevel}})[Concentration {{sla.concentration}}]
            <blockquote>
              <ul class="spell-like-abilities-list">
                {{#each sla.abilities}}
                <li class="spell-like-ability"><strong>{{frequency}}</strong> - {{name}}<span class="{{dc}}"> (DC {{dc}})</span></li>
                {{/each}}
              </ul>
            </blockquote>
          </div>
          {{/if}}
        </div>
      </section>

      <section class="statistics accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title"><h5>Statistics</h5></a>
        <div class="accordion-content" data-tab-content>
          <div class="ability-scores">
            {{#abilityscores}}
            <ul class="ability-scores-list">
              <li class="ability-score ability-score-{{str}}"><strong>Str</strong> <span class="{{str}}"> {{str}}</span></li>
              <li class="ability-score ability-score-{{dex}}"><strong>Dex</strong> <span class="{{dex}}"> {{dex}}</span></li>
              <li class="ability-score ability-score-{{con}}"><strong>Con</strong> <span class="{{con}}"> {{con}}</span></li>
              <li class="ability-score ability-score-{{int}}"><strong>Int</strong> <span class="{{int}}"> {{int}}</span></li>
              <li class="ability-score ability-score-{{wis}}"><strong>Wis</strong> <span class="{{wis}}"> {{wis}}</span></li>
              <li class="ability-score ability-score-{{cha}}"><strong>Cha</strong> <span class="{{cha}}"> {{cha}}</span></li>
            </ul>
            {{/abilityscores}}
          </div>

          <div class="base-stats"><strong>Base Atk</strong> +{{bab}};
            <strong>CMB</strong> +{{cmb.bonus}}{{#if cmb.special}} (+{{cmb.special}}){{/if}};
            <strong>CMD</strong> {{cmd.bonus}}{{#if cmd.special}} ({{cmd.special}}){{/if}};
          </div>

          {{#if feats}}
          <div class="feats">
            <strong>Feats</strong>
            <ul class="feats-list">
              {{#each feats}}
              <li class="feat"> <a href="http://www.d20pfsrd.com/?s={{this}}" target="_blank">{{this}}</a></li>
              {{/each}}
            </ul>
          </div>
          {{/if}} {{#if skills}}
          <div class="skills">
            <strong>Skills</strong>
            <ul class="skills-list">
              {{#each skills}}
              <li class="skill">{{@key}} +{{this.bonus}}{{#each circumstantial}} {{bonus}} ({{circumstance}}){{#if type}} [{{type}}]{{/if}}{{/each}}</li>
              {{/each}}
            </ul>
          </div>
          {{/if}} {{#if languages}}
          <div class="languages">
            <strong>Languages</strong>
            <ul class="languages-list">
              {{#each languages}}
              <li class="language">{{this}}</li>
              {{/each}}
            </ul>
          </div>
          {{/if}} {{#if sq}}
          <div class="sq">
            <strong>SQ</strong> {{sq}}
          </div>
          {{/if}}
        </div>
      </section>

      {{#if specialabilities}}
      <section class="special-abilities accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title"><h5>Special Abilities</h5></a>
        <div class="accordion-content" data-tab-content>
          {{#each specialabilities}}
          <div class="special-ability"><strong class="name">{{name}}</strong> {{{description}}}</div>
          {{/each}}
        </div>
      </section>
      {{/if}}

      <section class="ecology accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title"><h5>Ecology</h5></a>
        <div class="accordion-content" data-tab-content>
          <p><strong>Environment</strong> {{environment}}</p>
          <p><strong>Organization</strong> {{organization}}</p>
          <p><strong>Treasure</strong> {{treasure}}</p>
        </div>
      </section>

      {{#if description}}
      <section class=" description accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title"><h5>Description</h5></a>
        <div class="accordion-content" data-tab-content>
          <p>{{description}}</p>
        </div>
      </section>
      {{/if}}

    </div>
  </div>
</div>
