{{#MarkdownIt}}

Level One: Classic
---

Level 1 is formed mostly out of large blocks of tan stone. Except for Rooms 2 and 3, the area is dry and cool. Sconces with flaming torches provide excellent lighting throughout the entire Level, excepting Rooms 9 and 10. All rooms are separated with simple, unlocked wooden doors unless otherwise noted, and all doors open away from Room 1.

### Room 1: Entrance

> You find yourself in a cool, dry room made primarially of large blocks of tan stone. Sconces with flaming torches provide excellent lighting. Seven majestic red drapes with gold fringes line the north wall, covering the tan stone masonry. Thick wooden doors lie to the east and west.

The entrance to Jacob’s Tower is empty of any hazards or traps, but it is not bare.  If the PCs are feeling extra cheeky, these drapes can be taken and sold for 15 gold each. 

| Amt. | Treasure | Value | Weight |
| ---: | --- | --- | --- |
| 7 | Red Drapes | 15gp | 5 lbs. |

The wall to the north appears to be made of the same large tan blocks as the rest of the room, but a **Perception check (DC 15)** will reveal a hidden door behind a drape. The door opens upward, but cannot be opened short of a **Strength check (DC 30)**. If the PCs have discovered the door, they will also note two thin magical cords running along the wall to the east and west. Once the levers in Rooms 5 and 9 are pulled, the respective magical cords will glow. Once both levers are pulled, the hidden door will rise, revealing room 10.

### Room 2: Lair of the Fuzzy Animals

> A nauseating stench of soupy rot floods your senses the moment the door opens. The room is made of tan stone, but a great deal of animal feces, handfuls of tiny bones, and rotting bundles of hay all but completely cover the floor. Along the south wall is a small pool of putrid water.
>
> Dozens of diminutive animals - hedgehogs, mice, and rabbits - scatter away from you, into the hay bales. Three small animals - a dog, a pig, and a skunk - stand their ground; growling, snarling, and hissing at you, respectively. They look malnourished.

Room 2 stinks. Once the door is open, all those within 15 feet must make a **Fortitude save (DC 11)** or be sickened for one round. The rotting bundles of hay count as difficult terrain. The animals inside, with blotchy fur and muddy faces, look like they are being starved and will immediately attack the adventurers.

In the room are one skunk, one pig, and one dog which will immediately attack the adventurers. There are also dozens of smaller animals such as hedgehogs, mice and rabbits, but these will not attack, instead fleeing into the hay when the PCs arrive. Once the skunk, pig, and dog are killed, the smaller animals will come to feast on their corpses.

These animals are not totally feral, and it is possible to woo them to the characters' side. A **Handle Animal check (DC 10)** as a standard action on any animal will stun him for a round. A **Handle Animal check (DC 15)** on any animal will cause him to slink away and abandon the fight. A **Handle Animal check (DC 20)** on any animal will cause him to join the characters for the remainder of the Level.

With a **Perception check (DC 10)**, our heroes can notice that the pool of water actually goes below the wall to the south. One brave soul can take a dip in this putrid water and wriggle his way into Room 3. If the hero fails a **Swim check (DC 10)** while in the water, he must make a **Fortitude save (DC 13)** or contract [Cholera](http://www.d20pfsrd.com/gamemastering/afflictions/diseases/cholera) from the filth.

{{/MarkdownIt}}

<div class="row small-up-1 medium-up-2">

{{#bestiary.skunk}}
	{{> _monster}}
{{/bestiary.skunk}}

{{#bestiary.addu}}
	{{> _monster}}
{{/bestiary.addu}}

{{#bestiary.dog}}
	{{> _monster}}
{{/bestiary.dog}}

</div>

{{#MarkdownIt}}

### Room 3: A Dead Adventurer

As the swimmer enters Room 3, he scares away a small group of rats which have been gnawing on a corpse. This is clearly the rotting corpse of an halfling adventurer, who wears masterwork leather armor and a masterwork long sword (both small) in addition to 30 feet of rope, a lantern, a masterwork backpack, an everburning torch, and a small diary that is mostly illegible due to the water and gnaw marks.  If a DC 15 Linguistic check can be made, diary can somehow be read, and it will reveal that this was an adventurer trying his luck within Jacob's Tower.

On his way back out of the room, the PC must again make a DC 10 Swim check. If he fails this check, he must make a DC 13 Fortitude save or contract [Cholera](http://www.d20pfsrd.com/gamemastering/afflictions/diseases/cholera) from the filth.

### Room 4: Trapped with an Angry Ghost

At first, Room 4 appears to be rather ordinary, a wide hallway made of tan stone with no discernable features. A wooden door at the end of the hallway is slightly ajar, but not open enough to see clearly into the next room. 

A DC 10 Perception check will note scratch marks on the inside of both the south and north doors of this room. 

Upon reaching the center of the room (4a), our heroes trigger a variation of the [Slamming Portal Haunt](https://sites.google.com/site/pathfinderogc/gamemastering/haunts/cr-1/slamming-portal-cr-1). Both doors slam shut (perhaps shutting the slower heroes out), and remain closed as if affected by a [Hold Portal](https://sites.google.com/site/pathfinderogc/magic/all-spells/h/hold-portal) spell. Any PC in the door's way must make a DC 12 Reflex save to jump out of the way or be dealt d4 bludgeoning damage and moved into the room appropriate square.  Moments later, a ghostly and flaming human apparition appears in the middle of the room, holds his head, and begins to scream. The walls, ceiling, and floors appear to burst into flame, although a DC 11 Will Save dismisses this as an illusion.  Illusion or no, the room suddenly becomes unbearably hot and stifling, dealing one point of fire damage to all in the room at the start of each character’s turn.

The doors will remain shut and the heat will persist for one minute, or 10 rounds. During this time, our heroes have a variety of options, one of which is breaking down either door. Our heroes can make a DC 18 Strength check to break down the doors, a DC which includes the +5 bonus from [Hold Portal](https://sites.google.com/site/pathfinderogc/magic/all-spells/h/hold-portal). The doors have 5 hardness and 10 hit points.  If our heroes are able to break down one or both of the doors, the haunt immediately ends.

It is also possible to deal with the Haunt directly. With only two hit points, channeling positive energy or throwing holy water will likely “kill” it, as well as a force spell such as magic missile.

### Room 5: Making a Living

Room 5 is ornate to say the least. Lavish paintings cover the walls, piles of gold sit sparkling in the corners and a crystal chandelier hangs from the ceiling. Unfortunately, these are all permanent Silent Images and a simple DC 10 Will save will reveal them as such. There is also a pile of seemingly random items (5e), such as a shoe, a bow, a hat, a trap, a properly addressed letter with nothing but gibberish on it, and a lockpick. These items all look shoddy and quickly made, though they are not illusions. This pile is the previously crafted items of heroes to pass the “Craft for me” challenge. 

At the north end of the room is a large stone statue (5a) with three closed eyes and three outstretched hands pointing to three squares on the ground. On each closed eyelid is a carved picture. Written on each of these squares is a phrase in common: 

“Entertain me” (5b). The closed eyelid looking in this direction shows a man with a fiddle and a woman telling jokes at a bar. In this square, one of our heroes must make a DC 10 Perform check. Alternatively, he may make a DC 15 Diplomacy, Bluff, or Intimidate check to tell some sort of joke or story.  Succeeding at this check will cause the relevant statue’s eye to open. Failing will result in bolt of electricity dealing d4 damage to the person on the square (DC 12 Reflex save halves). 

“Work for me” (5c). The closed eyelid looking in this direction shows a woman counting coins at a bank and a man teaching a classroom full of students. In this square, one of our heroes must make a DC 10 Profession check while somehow demonstrating his skill. If a hero has a backstory of making a living using some other skill, he may demonstrate that skill at a DC 15. Succeeding at this check will cause the relevant statue’s eye to open. Failing will result in bolt of electricity dealing d4 damage to the person on the square (DC 12 Reflex save halves). 

“Craft for me” (5d). The closed eyelid looking in this direction shows a woman crafting horseshoes and a man fletching some arrows. In this square, our heroes must make a DC 10 Craft check while demonstrating his skill. Alternatively, he can make a DC 15 Disable Devise, Disguise, or Survival check to create something relevant to the skill. Succeeding at this check will cause the relevant statue’s eye to open. Failing will result in bolt of electricity dealing d4 damage to the person on the square (DC 12 Reflex save halves). 

Succeeding at all three checks and opening all three eyes results in the statue also opening his mouth. Inside the mouth is a lever. Once flipped, a magical cord running from the lever into the western wall will illuminate. Back in Room 1, the cord running from hidden door to the eastern wall will also illuminate.

### Room 6: Room of Statues

The room is fairly plain, except for a ten statues (6c) along the western wall. The statues are vaguely humanoid in form, though they have strange features and gemstones for eyes. A DC 12 Knowledge (Planes) check will reveal that these are statues of small Earth Elementals, not adventurers turned to stone. Our heroes may take the time to pry the gemstones out of each statue if they like. Each gemstone is worth 5 gold, meaning that the entire menagerie is worth 100 gold. 

Three or four rounds after our heroes have entered the room, a Small Earth Elemental will burst from the floor for a surprise round. After he has been dealt damage for the first time, the torches in the room will go out. On his turn he will move to the statues with a stealth check, and attempt to blend in. The Earth Elemental has a +7 disguise for the purposes of blending in with these statues. 

If a PC comes within melee range of the Elemental, the Elemental will leave hiding and attack the PC, continuing to attack until slain. If he is found and attacked, he will leave hiding and resume combat. If the PCs leave the room without killing him, he will follow them through the floor and attack them in Room 8.

Along the south wall of Room 6 is a hidden stone door that leads to Room 7. It takes a Perception 15 check to discover and a DC 15 Disable Devise check to unlock.

### Room 7: Choice of Gemstones

Behind the hidden door are two pedestals with one gemstone each (7a). A sign in Common reads “You may only choose one.” One gemstone is worth 500gp, and the other is worth 100gp. A DC 10 Appraise check will yield the 500gp gemstone, while failing the Appraise check yields the 100gp gemstone. The GM should make this roll in private, simply letting the PCs know which one they think is more valuable. Touching one gemstone turns the other to dust, so greedy heroes who try and grab both will wind up with neither. 

### Room 8: The Many Paintings of Malebolge

Room 8 breaks off into five short hallways, each with a painting at the end. In the center of the room (8a) is a small pedestal with a single word written in both Common and Infernal: “Malebolge.” If a character can identify the writing as Infernal, either by knowing Infernal or performing a DC 15 Linguistics check to recognize the writing, then all Knowledge checks regarding the paintings are made at a +2 bonus. 

At the end of each of the hallways is a detailed and impressive painting. These paintings are magically attached to the walls, though they can be removed with a DC 25 Strength check and sold for 100 gold a piece. Our heroes may examine the paintings and make the relevant knowledge check without going down the hallway. Failing the knowledge check for the wrong hallways (8b, 8c, 8d, or 8f) will result in the players thinking that perhaps they have heard the word “Malebolge” in relation to the painting. Succeeding at the knowledge check for the wrong hallways will let the players know the painting has nothing to do with the word. Going down the wrong hallways springs an Arrow Trap. Finding one of these Arrow Traps will not result in automatically finding the rest, as they are each hidden in different places. 

Remember that Knowledge checks of DC 10 or lower can be made untrained. 

8b: At the end of the hallway is a painting of a Dwaven cleric holding a war hammer. He has many rings in his beard, and is wearing an ornate white smithing apron. A DC 10 Knowledge (Religion) check will let the players know that this is Cleric of Torag, and probably has nothing to do with “Malebolge.”  Any worshipers of Torag in the party will immediately recognize this without any check.

8c: At the end of this hallway is a map of an island. There is a mountain range in the middle, two unlabeled cities along the southern coast, and a smaller island to the north. A DC 10 Knowledge (Geography) check will reveal that this is the Isle of Kortos, and likely has nothing to do with “Malebolge.” 

8d: At the end of this hallway is a formal portrait of a great king. With a short brown goatee, golden crown and piercing green eyes, he is a slightly unnerving sight. A DC 10 Knowledge (Nobility) check reveals that this is Lord Gyr of House Gixx, Primarch of Absalom, and that he has nothing to do with Malebolge.

8e: At the end of this hallway is a painting of a disturbing scene. Injured and terrified people flee from giant red humanoids in a great forest where snow-like ash is falling. In the background is a giant flaming creature with spiked armor and gauntlets. A DC 10 Knowledge (Planes) check will reveal that this place is Malebolge, the 6th layer of Hell, and that the creature in the back is Moloch, ruler of Hell’s armies. If a PC goes to the end of this hallway, the painting will burn away revealing room 9.

8f: At the end of this hallway is a painting of meteor shooting through the sky and colliding with the planet, sending up a massive amount of debris and rubble. A DC 10 Knowledge (History) check will reveal that this event was known as the Earthfall, and probably has nothing to do with Malebolge.

### Room 9: Corridor of the Dead

Room 9 has no lit torches, so heroes must provide their own light if they want to see. A DC 20 Perception check will reveal that the ground here has been worn down by countless footsteps (the two undead enemies slowly revolving around the center). As soon as our heroes enter the room, the Ghoul on 9b will begin to move clockwise and the Zombie on 9c will begin to move counter clockwise. They each move one square a turn. If an undead gains line of sight to the party, he will begin moving as normal and rush in to attack.  The Ghoul has no hesitations about coup de gras-ing paralyzed players, and one or two players could easily die in this fight if the rolls go poorly.

A small locked treasure chest is at 9d. The lock is simple enough, requiring a DC 20 Disable Device check. Inside is 200 gold worth of strange silver coins, a harrow deck, and one use of arsenic.

At 9a, there is a lever on the wall. If it is flipped, a magical cord extending to the eastern wall begins to glow. Back in Room 1, the cord running from 1a to the western wall has also illuminated.

### Room 10: Bridge Over Troubled Rats

With the levers in Rooms 9 and 5 switched, the hidden door in Room 1 opens. In the middle of Room 10 is a rickety rope bridge (10a) that extends over a 20 foot deep pit to a narrow ledge (10b) on the north side. At the bottom of the pit is a Rat Swarm. As long as there are no PCs in the pit, the Rat Swarm gains regeneration 10 as rats will enter from the holes in the walls to replace their fallen comrades.  There is no light in Room 10 save what our heroes bring, but they can certainly hear the rats scampering and squeaking in the dark. 

Crossing this rickety bridge requires a Acrobatics 10 check to move the PC’s speed. A PC may travel at half his speed or lower for an Acrobatics 5 check.   Fail these checks and the PC falls into the pit where he takes 20 feet of fall damage and must contest with the Rat Swarm. By using a length of rope and a DC 10 Knowledge (Engineering) check, our heroes can reinforce the bridge and decrease the Acrobatics DC by 2 each.

The PC may climb out of the pit by climbing up a rickety rope ladder (10c). This ladder has a Climb DC of 5.

### Room 11: Posy the Enchantress

Room 11 has six columns with hard corners.  A female human named Posy hides in the shadows at 11b. She was once dressed in lavish furs and red ribbons, but these have long since been reduced to tatters. Long ago, Posy was an adventurer who failed to disbelieve the illusions of wealth in Room 5. She thought that she had come across great treasure, and killed her adventuring party to keep it for herself. She now waits in Jacob’s Tower for other adventurers, and loots their bodies to add to her imaginary riches. Little does she know that each time she is slain, the Tower brings her back to life as a challenge for the next adventuring party.

Posy will target the first person who enters the room with a charm person spell as covertly as possible. As long as she has not yet been seen, she will not yet suffer the -5 penalty to DC for being in combat.  If she succeeds, she will quickly attempt to bluff her new ally into thinking that the other PCs have been enchanted and need to be subdued but not harmed.  This order constitutes an opposed Charisma check.  As the fight progresses, she will cast invisibility on herself, move to a safe location, then begin to use bardic performance.  She may also switch to a heavy crossbow as appropriate.

Given that Posy does not actually have a Ring of Protection +1, her AC is actually 17, 13 touch, 14 flatfooted.

If Posy successfully subdues her enemies, she will instruct her “friends” to go get help from outside. As the last one crosses through Room 10, she will shake the bridge, incurring an Acrobatics 15 check to stay on. Posy will then start to shoot the remaining PCs with her crossbow. If she takes down her “friends,” then she will go around coup-de-gracing the fallen PCs.

Assuming the heroes live through this encounter, they can loot poor Posy. Ignore Posy's stated gear.  Instead, she has a masterwork dagger, a masterwork heavy crossbow with 20 bolt, a masterwork chain shirt, absinthe, a potion of invisibility, two potions of jump, and a wand of cure light wounds with 5 charges (CL1). 

After defeating Posy, a stone staircase (11a) rises up from the ground.  This staircase leads to the second Level, Marble and Glass.

If our heroes are playing only in Jacob's Tower and ranking up to Level 2, then distribute 940 gold amongst them evenly.

### Sleeping: Grimples

Each night our heroes attempt to sleep in Level 1, they will be woken up by the sudden and wholly unpleasant sound of screeching. The sound will get louder for two rounds until three Grimples burst into the room and attack.  Every additional night they will be attacked by one more Grimple: Four the second night, five the third night, and so on.

{{/MarkdownIt}}